// ----------------------
// == Form
// ----------------------

input, textarea {
  @include border-radius(4px);
  border: solid 1px #ddd;
  font-family: $font1;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 60%;
}

textarea { height: 135px; }
