@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Montserrat', sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$red: #fa5c65;
$blue: #314a5b;;
$grey: #9aa0ab;

$color1: $red;
$color2: $blue;
